.row
	.col-md-3 
		button.btn.btn-warning.mb-4
			a.text-white(href="/admin/categories") List Categories 
	.col-md-3 
		button.btn.btn-success.mb-4
			a.text-white(href="/admin/add-category") Add Category 
	.col-md-3 
		button.btn.btn-secondary.mb-4
			a.text-white(href="/admin/products") List Products 
	.col-md-3 
		button.btn.btn-success.mb-4
			a.text-white(href="/admin/add-product") Add Product 